In [ ]:
# Load dataset


import pandas as pd
import numpy as np

df = pd.read_csv('retail_sales.csv')

# Preview first 5 rows to understand structure
df.head(5)

,OrderID,CustomerID,Gender,Age,Region,ProductCategory,Quantity,UnitPrice,PurchaseDate,TotalAmount
0,1,1009,Male,58,North,Books,3,331,2023-01-01,993
1,2,1015,Male,49,South,Clothing,4,493,2023-01-02,1972
2,3,1064,Female,64,West,Home,4,116,2023-01-03,464
3,4,1028,Male,56,South,Home,4,202,2023-01-04,808
4,5,1089,Male,22,West,Sports,5,467,2023-01-05,2335

In [10]:
## How many unique customers are in a database

Unique_customers = df['OrderID'].nunique()
print(Unique_customers)

300

In [61]:
## which region has the highter number of orders

region_orders = df.groupby("Region", as_index=False)["OrderID"].count().sort_values(by='Region',ascending=False)
print(region_orders)

  Region  OrderID
3   West       79
2  South       76
1  North       72
0   East       73

In [12]:
## Data Cleaning

null_values = df.isnull().sum()
print(null_values)

## No null values found in a set

duplicates = df.duplicated().sum()
print(duplicates)

##no duplicates found in a set

OrderID            0
CustomerID         0
Gender             0
Age                0
Region             0
ProductCategory    0
Quantity           0
UnitPrice          0
PurchaseDate       0
TotalAmount        0
dtype: int64
0

In [13]:
## Find the top product categories by revenue 

product_c_by_revenue = df.groupby('ProductCategory', as_index=False)['TotalAmount'].sum().sort_values(by='TotalAmount',ascending = False)
print(product_c_by_revenue)

  ProductCategory  TotalAmount
1        Clothing        52951
2     Electronics        46471
4          Sports        45237
3            Home        44850
0           Books        41755

In [14]:
## who are the top 5 customers by total spending

customers = (
    df.groupby('CustomerID', as_index=False)['TotalAmount']
    .sum()
    .sort_values(by="TotalAmount", ascending=False)
)

top5_customers = customers.head(5)

print(top5_customers.to_string(index=False))

 CustomerID  TotalAmount
       1062         7072
       1030         6072
       1011         5909
       1073         5682
       1088         5558

In [53]:
## What’s the average age of customers buying “Electronics”?

avg_age = df[df['ProductCategory'] == 'Electronics'] ['Age'].mean()

age = avg_age
print(f"average age per product category: {round(age, 2)}")

average age per product category: 39.52

In [43]:
## Plot total sales revenue by month.

df['PurchaseDate'] = pd.to_datetime(df['PurchaseDate'])

SalesBymonth = (
    df.groupby(df['PurchaseDate'].dt.to_period('M'))['TotalAmount']
    .sum()
    .reset_index()
    .sort_values(by='PurchaseDate', ascending=False)
)

print(SalesBymonth[['PurchaseDate','TotalAmount']])

  PurchaseDate  TotalAmount
9      2023-10        25115
8      2023-09        28681
7      2023-08        22516
6      2023-07        19417
5      2023-06        25492
4      2023-05        24617
3      2023-04        20032
2      2023-03        19019
1      2023-02        18430
0      2023-01        27945

In [52]:
##Identify the best-selling month overall.

df['PurchaseDate'] = pd.to_datetime(df['PurchaseDate'])

SalesBymonth = (
    df.groupby(df['PurchaseDate'].dt.to_period('M'))['TotalAmount']
    .sum()
    .reset_index()
    .sort_values(by='TotalAmount', ascending=False)
)

# SBM = SalesBymonth[['PurchaseDate','TotalAmount']]
# Best_Selling_Month = SBM.head(1)

best_month = SalesBymonth.loc[SalesBymonth['TotalAmount'].idxmax()]
print(f"Best-selling month: {best_month['PurchaseDate']} with revenue ${best_month['TotalAmount']:,}")

Best-selling month: 2023-09 with revenue $28,681

In [71]:
### Use NumPy to calculate the 90th percentile of TotalAmount.

p90 = np.percentile(df['TotalAmount'], 90)



print(f"90th percentile of TotalAmount: {p90:.2f}")

90th percentile of TotalAmount: 1720.50

In [81]:
### Group customers into age bins (18–25, 26–35, 36–50, 51+) and find revenue per group.

# Define bins and labels
bins = [18, 25, 35, 50, 100] 
labels = ["18–25", "26–35", "36–50", "51+"]

# Create a new AgeGroup column
df["AgeGroup"] = pd.cut(df["Age"], bins=bins, labels=labels, right=True)

# Group by AgeGroup and sum revenue
revenue_by_agegroup = (
    df.groupby("AgeGroup", as_index=False)["TotalAmount"]
      .sum()
      .sort_values(by='TotalAmount',ascending=False)
)

print(revenue_by_agegroup)

  AgeGroup  TotalAmount
3      51+        75425
2    36–50        65557
1    26–35        49089
0    18–25        35070

C:\Users\yashw\AppData\Local\Temp\ipykernel_22356\3541615622.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("AgeGroup", as_index=False)["TotalAmount"]

In [82]:
## Recalculate TotalAmount using NumPy vectorized multiplication (Quantity × UnitPrice).

# Recalculate using NumPy arrays
df["TotalAmount_numpy"] = np.multiply(df["Quantity"].values, df["UnitPrice"].values)

# Check first few rows
print(df[["Quantity", "UnitPrice", "TotalAmount", "TotalAmount_numpy"]].head())

   Quantity  UnitPrice  TotalAmount  TotalAmount_numpy
0         3        331          993                993
1         4        493         1972               1972
2         4        116          464                464
3         4        202          808                808
4         5        467         2335               2335